<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catty</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <ul id="tab"></ul>
    <div id="editor"></div>
</body>

<script>

const { initTab, addTab, removeTab } = require('../module/tab')
const { createEditor, destroyEditor, currentEditor } = require('../module/editor')

const editor = document.querySelector('#editor')

initTab(document.querySelector('#tab'), (n, typ) => {
    switch (typ) {
        case 'switch':
            createEditor(editor, n)
            break

        case 'remove':
            destroyEditor(editor, n)

    }
})

</script>


<script>

const debug = require('../module/debug')
const { nodeStart, nodeStop } = require('../module/run-node')
const { browserStart, browserStop } = require('../module/run-browser')

debug.node(n => nodeStart(currentEditor().getValue()))
debug.browser(n => browserStart(currentEditor().getValue()))

debug.nodeStop(nodeStop)
debug.browserStop(browserStop)

</script>

</html>
