<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Catty</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<div class="editor"></div>

<script>

const editors = []

const createEditor = require('../module/editor')
createEditor(document.querySelector('.editor')).then(e => {
    editors.push(e)
})

</script>


<script>

const debug = require('../module/debug')
const { nodeStart, nodeStop } = require('../module/run-node')
const { browserStart, browserStop } = require('../module/run-browser')

debug.node(i => nodeStart(editors[i].getValue()))
debug.browser(i => browserStart(editors[i].getValue()))

debug.nodeStop(() => nodeStop())
debug.browserStop(() => browserStop())

</script>

</body>
</html>
