<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Catty</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<div class="editor"></div>

<webview id="tester" src="about:block"></webview>
<webview id="devtool"></webview>

<script>

const editors = []

const createEditor = require('../module/editor')
createEditor(document.querySelector('.editor')).then(e => {
    editors.push(e)
})

</script>


<script>

const run = require('../module/run')

const testerView = document.getElementById('tester')
const devtoolView = document.getElementById('devtool')

run.browser(i => {
    testerView.reload()

    const browser = testerView.getWebContents()
    browser.devToolsWebContents = devtoolView.getWebContents()
    browser.openDevTools()

    testerView.getWebContents().executeJavaScript(editors[i].getValue())
})

</script>

</body>
</html>
